.certifications-scene-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
